@import '../../global.scss';

.menu{
    width: 150px;
    height: 100vh;
    background-color:#eb5a49;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;

    &.active{ 
        right: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 15px;
        font-weight: 500;
        color: white;
        width: 60%;

        li{
            margin-bottom: 15px;
            a{
                font-size:inherit;
                color: inherit;
                text-decoration: none;
            }

            &:hover{
                font-weight: 400;
            }

        }
    }
}