$mainPinkColor: #eb5949;
$mainBlueColor: #79bbbf;
$mainYellowColor: #f9aa1e;
$mainLightBlueColor: #f2fffe;
$mainWhiteColor: snow;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}